---
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
---

<Layout title="Lintigade">
	<main class="w-full h-screen">
		Hello there
		General Kenobi
	</main>
</Layout>
