---
import BookAppointment from "@/components/BookAppointment.astro";
import Layout from "../layouts/Layout.astro";
import NavBar from "@/components/navBar";
---

<Layout title="Lintigade">
	<main>
		<NavBar client:only="react"/>
		<BookAppointment />
	</main>
</Layout>
