---
import BookAppointment from "@/components/BookAppointment.astro";
import Layout from "../layouts/Layout.astro";
import NavBar from "@/components/navBar";
import PracticeAdvice from "@/components/PracticeAdvice.astro";
import WhoAreWe from "@/components/WhoAreWe.astro"
import WhatClientsSay from "@/components/WhatClientsSay.astro"
import OurAttorneys from '@/components/OurAttorneys.astro'
---

<Layout title="Lintigade">
	<main>
		<NavBar client:only="react"/>
		<BookAppointment />
		<PracticeAdvice/>
		<WhoAreWe/>
		<WhatClientsSay/>
		<OurAttorneys/>
	</main>
</Layout>
