---
import AttorneyCards  from '@/components/AttorneyCards'
---

<div class="grid justify-center gap-4 text-center p-14 bg-white w-full h-screen overflow-scroll">
    <h1 class="font-serif text-blue-950 text-3xl font-medium">Meet our Attorneys</h1>
    <p class="">
        Problems trying to resolve the conflict between <br />the two major
        realms of Classical physics: Newtonian mechanics
    </p>
    <AttorneyCards client:visible/>
    
</div>
