---
import ReviewCards  from '@/components/ReviewCards'
---

<div class="grid justify-center gap-8 text-center p-10 bg-gray-200 w-full place-items-center">
    <h1 class="font-serif text-blue-950 text-3xl font-medium">What Clients Say</h1>
    <p class="">
        Problems trying to resolve the conflict between <br />the two major
        realms of Classical physics: Newtonian mechanics
    </p>
    <ReviewCards client:visible/>
    
</div>
