---
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<div class="grid justify-center gap-8 text-center p-10" style="background: linear-gradient(to bottom, white 50%, #001f3f 50%);">
    <h1 class="font-serif text-blue-950 text-3xl font-medium">Who are we</h1>
    <p class="">
        Problems trying to resolve the conflict between <br />the two major
        realms of Classical physics: Newtonian mechanics
    </p>
    <YouTube id="7q0TRgDvT9k" />
</div>

